.dogs_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reload_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  width: 100%;
}

.reload_container button {
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 1%;
}

.reload_container button img {
  width: 100%;
}

.rotate_icon {
  animation: rotation 1s linear;
}

.dog_image_container {
  width: 400px;
}

.dog_image_container img {
  width: 100%;
}

@keyframes rotation {
  to {
    transform: rotate(180deg);
  }
}
